<div class="container color-dark">
	<div class="col">
		<p>Let's Get Our Sweat On!!!!!</p>
	</div>
	<div div class="col">
		<p>Monster List</p>
	</div>
</div>
<div class="container color-light">
	<div class="col">
		<!-- <p class="sm">Find Your First Monster to Defeat</p>  -->
		<!-- Moved logic to a search component to see what happens seems to work not searching-->
		<app-search></app-search>
		<!-- <form> -->
			<!-- <input type="text" class="txt" name="workout" placeholder="Get a Monster">  -->
			<!-- *****made a search component to drop in seems to work, not searching though**** -->
			<!-- <input type="submit" class="btn" value="Find Monster"> -->
		<!-- </form> -->
	</div>
	<div div class="col">
		<p class="workout">Here's Your Monster</p>
	</div>
</div>





